<%# Showing the individual post %>
<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<% #Edit Resource only available after authrization %>
<% if policy(@post).edit? %>
   <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
 <% end %>